doctype 5
html
  head
    title= title
    script(src='js/jquery.js')
    script(src='js/modernizr.foundation.js')
    script(src='js/foundation.min.js')
    script(src='js/ninja.js')
    script(src='js/app.js')
    link(rel="stylesheet",href="css/foundation.min.css")
    link(rel="stylesheet",href="css/app.css")
    link(rel="stylesheet",href="css/style.css")


    block head
  body
    #content
      block content